

<div class="gallery-banner-silder">
  <div class="swiper-container">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <img src="/static/assets/img/dancing-couple-3156089_1920.jpg" alt="">
      </div>
      <div class="swiper-slide">
        <img src="/static/assets/img/silder1.jpg" alt="">
      </div>
      <div class="swiper-slide">
        <img src="/static/assets/img/h3-slide-2.jpg" alt="">
      </div>
      <div class="swiper-slide">
        <img src="/static/assets/img/ballet-335496_960_720.jpg" alt="">
      </div>
      <div class="swiper-slide">
        <img src="/static/assets/img/photo-1546858369-7e535fed0dc4 (2).jpg" alt="">
      </div>
    </div>
    <!-- Add Arrows -->
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
    </div>
</div>

<div class="img-text-detail">
  <div class="title-text"
  ><h1> A Ballet Music Academy</h1>
  </div>
  <div class="text-content">
    <p>Duruşun hayatına yön verir, gideceğin yere götürür seni <br>ve sen bunun için baleyle buluştun.</p>
    <span>Aslı Asiye Arslan</span>
  </div>
</div>
<div class="img-container row">
  <div class="img-box col-md-3 col-sm-12">
    <a href="#">
      <img src="/static/assets/img/port-2-img-4-550x550.jpg" alt="">
    </a>
    <div class="img-content">
      <h1>Yaz Gunleri</h1>
      <a href="">Ders Programları</a>
    </div>
  </div>
  <div class="img-box col-md-3 col-sm-12">
    <a href="#">
      <img src="/static/assets/img/port-2-img-8-500x500.jpg" alt="">
    </a>
    <div class="img-content">
      <h1>Yaz Gunleri</h1>
      <a href="">Ders Programları</a>
    </div>
  </div>
  <div class="img-box col-md-3 col-sm-12">
    <a href="#">
      <img src="/static/assets/img/image-one.jpg" alt="">
    </a>
    <div class="img-content">
      <h1>Yaz Gunleri</h1>
      <a href="">Ders Programları</a>
    </div>
  </div>
  <div class="img-box col-md-3 col-sm-12">
    <a href="#">
      <img src="/static/assets/img/image-two.jpg" alt="">
    </a>
    <div class="img-content">
      <h1>Yaz Gunleri</h1>
      <a href="">Ders Programları</a>
    </div>
  </div>
  <div class="img-box col-md-3 col-sm-12">
    <a href="#">
      <img src="/static/assets/img/port-2-img-3-768x768.jpg" alt="">
    </a>
    <div class="img-content">
      <h1>Yaz Gunleri</h1>
      <a href="">Ders Programları</a>
    </div>
  </div>
  <div class="img-box col-md-3 col-sm-12">
    <a href="#">
      <img src="/static/assets/img/image-four.jpg" alt="">
    </a>
    <div class="img-content">
      <h1>Yaz Gunleri</h1>
      <a href="">Ders Programları</a>
    </div>
  </div>
  <div class="img-box col-md-3 col-sm-12">
    <a href="#">
      <img src="/static/assets/img/image-five.jpg" alt="">
    </a>
    <div class="img-content">
      <h1>Yaz Gunleri</h1>
      <a href="">Ders Programları</a>
    </div>
  </div>
  <div class="img-box col-md-3 col-sm-12">
    <a href="#">
      <img src="/static/assets/img/image-six.jpg" alt="">
    </a>
    <div class="img-content">
      <h1>Yaz Gunleri</h1>
      <a href="">Ders Programları</a>
    </div>
  </div>
</div>

<div class="vide-source">
  <video autoplay="autoplay" muted loop>
      <source src="/static//assets/img/Celebration-of-Ballet_Trim.mp4" type="video/mp4">
  </video>        
</div>

