<div class="img-container row">
  <div class="img-box col-md-3 col-sm-12">
    <a href="#">
      <img src="/static/assets/img/port-2-img-4-550x550.jpg" alt="">
    </a>
    <div class="img-content">
      <h1>Yaz Gunleri</h1>
      <a href="">Ders Programlari</a>
    </div>
  </div>
  <div class="img-box col-md-3 col-sm-12">
    <a href="#">
      <img src="/static/assets/img/port-2-img-8-500x500.jpg" alt="">
    </a>
    <div class="img-content">
      <h1>Yaz Gunleri</h1>
      <a href="">Ders Programlari</a>
    </div>
  </div>
  <div class="img-box col-md-3 col-sm-12">
    <a href="#">
      <img src="/static/assets/img/ballet2.jpg" alt="">
    </a>
    <div class="img-content">
      <h1>Yaz Gunleri</h1>
      <a href="">Ders Programlari</a>
    </div>
  </div>
  <div class="img-box col-md-3 col-sm-12">
    <a href="#">
      <img src="/static/assets/img/piano.jpg" alt="">
    </a>
    <div class="img-content">
      <h1>Yaz Gunleri</h1>
      <a href="">Ders Programlari</a>
    </div>
  </div>
  <div class="img-box col-md-3 col-sm-12">
    <a href="#">
      <img src="/static/assets/img/port-2-img-3-768x768.jpg" alt="">
    </a>
    <div class="img-content">
      <h1>Yaz Gunleri</h1>
      <a href="">Ders Programlari</a>
    </div>
  </div>
  <div class="img-box col-md-3 col-sm-12">
    <a href="#">
      <img src="/static/assets/img/ballet1.jpg" alt="">
    </a>
    <div class="img-content">
      <h1>Yaz Gunleri</h1>
      <a href="">Ders Programlari</a>
    </div>
  </div>
  <div class="img-box col-md-3 col-sm-12">
    <a href="#">
      <img src="/static/assets/img/ballet4.jpg" alt="">
    </a>
    <div class="img-content">
      <h1>Yaz Gunleri</h1>
      <a href="">Ders Programlari</a>
    </div>
  </div>
  <div class="img-box col-md-3 col-sm-12">
    <a href="#">
      <img src="/static/assets/img/ballet6.jpg" alt="">
    </a>
    <div class="img-content">
      <h1>Yaz Gunleri</h1>
      <a href="">Ders Programlari</a>
    </div>
  </div>
</div>