

<div class="gallery-banner-silder">
  <div class="swiper-container">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <img src="/static/assets/img/h3-slide-2.jpg" alt="">
      </div>
      <div class="swiper-slide">
        <img src="/static/assets/img/silder1.jpg" alt="">
      </div>
      <div class="swiper-slide">
        <video src=""></video>
      </div>
      <div class="swiper-slide">Slide 4</div>
      <div class="swiper-slide">Slide 5</div>
      <div class="swiper-slide">Slide 6</div>
      <div class="swiper-slide">Slide 7</div>
      <div class="swiper-slide">Slide 8</div>
      <div class="swiper-slide">Slide 9</div>
      <div class="swiper-slide">Slide 10</div>
    </div>
    <!-- Add Arrows -->
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
    </div>
</div>






















<div class="img-text-detail">
  <div class="title-text"
  ><h1> A Ballet Music Academy</h1>
  </div>
  <div class="text-content">
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Neque labore laborum, et, cum, itaque sed quod aspernatur quisquam commodi nesciunt blanditiis. In ipsam tenetur similique qui rem sunt consectetur fugiat!
  </div>
</div>
<div class="img-container row">
  <div class="img-box col-md-3 col-sm-12">
    <a href="#">
      <img src="/static/assets/img/port-2-img-4-550x550.jpg" alt="">
    </a>
    <div class="img-content">
      <h1>Yaz Gunleri</h1>
      <a href="">Ders Programlari</a>
    </div>
  </div>
  <div class="img-box col-md-3 col-sm-12">
    <a href="#">
      <img src="/static/assets/img/port-2-img-8-500x500.jpg" alt="">
    </a>
    <div class="img-content">
      <h1>Yaz Gunleri</h1>
      <a href="">Ders Programlari</a>
    </div>
  </div>
  <div class="img-box col-md-3 col-sm-12">
    <a href="#">
      <img src="/static/assets/img/image-one.jpg" alt="">
    </a>
    <div class="img-content">
      <h1>Yaz Gunleri</h1>
      <a href="">Ders Programlari</a>
    </div>
  </div>
  <div class="img-box col-md-3 col-sm-12">
    <a href="#">
      <img src="/static/assets/img/image-two.jpg" alt="">
    </a>
    <div class="img-content">
      <h1>Yaz Gunleri</h1>
      <a href="">Ders Programlari</a>
    </div>
  </div>
  <div class="img-box col-md-3 col-sm-12">
    <a href="#">
      <img src="/static/assets/img/port-2-img-3-768x768.jpg" alt="">
    </a>
    <div class="img-content">
      <h1>Yaz Gunleri</h1>
      <a href="">Ders Programlari</a>
    </div>
  </div>
  <div class="img-box col-md-3 col-sm-12">
    <a href="#">
      <img src="/static/assets/img/image-four.jpg" alt="">
    </a>
    <div class="img-content">
      <h1>Yaz Gunleri</h1>
      <a href="">Ders Programlari</a>
    </div>
  </div>
  <div class="img-box col-md-3 col-sm-12">
    <a href="#">
      <img src="/static/assets/img/image-five.jpg" alt="">
    </a>
    <div class="img-content">
      <h1>Yaz Gunleri</h1>
      <a href="">Ders Programlari</a>
    </div>
  </div>
  <div class="img-box col-md-3 col-sm-12">
    <a href="#">
      <img src="/static/assets/img/image-six.jpg" alt="">
    </a>
    <div class="img-content">
      <h1>Yaz Gunleri</h1>
      <a href="">Ders Programlari</a>
    </div>
  </div>
</div>