<div class="three-banner col-md-12">
    <div class="banner-box col-md-4 col-sm-4 col-xs-12">
        <div class="banner-box-img">
            <img src="/static/assets/img/icon.svg" alt="">
        </div>
        <h1>Bale Nedir ?</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus a beatae dolorum, quisquam delectus ullam, porro harum provident facere dolor ea reprehenderit iure! Expedita, dolorum sequi deleniti voluptas itaque eius!</p>
        <a href="#">Devami Gor</a>
    </div>
    <div class="banner-box col-md-4 col-sm-4 col-xs-12">
        <div class="banner-box-img">
            <img src="/static/assets/img/icon-two.svg" alt="">
        </div>
        <h1>Bale Nedir ?</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus a beatae dolorum, quisquam delectus ullam, porro harum provident facere dolor ea reprehenderit iure! Expedita, dolorum sequi deleniti voluptas itaque eius!</p>
        <a href="#">Devami Gor</a>
    </div>
    <div class="banner-box col-md-4 col-sm-4 col-xs-12">
        <div class="banner-box-img">
            <img src="/static/assets/img/three-icon.svg" alt="">
        </div>
        <h1>Bale Nedir ?</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus a beatae dolorum, quisquam delectus ullam, porro harum provident facere dolor ea reprehenderit iure! Expedita, dolorum sequi deleniti voluptas itaque eius!</p>
        <a href="#">Devami Gor</a>
    </div>
</div>