<div class="bottom-four row">
    <div class="bottom-four-box col-lg-4 col-sm-12">
        <a href="">
            <img class="d-none d-md-block" src="/static/assets/img/New-Project.jpg" alt="">
            <img class="d-md-none" src="/static/assets/img/port-2-img-5.jpg" alt="">
        </a>
    </div>
    <div class="bottom-four-box col-lg-4 col-sm-12">
        <a href="">
            <img class="d-none d-md-block" src="/static/assets/img/New-two.jpg" alt="">
            <img class="d-md-none" src="/static/assets/img/port-2-img-1.jpg" alt="">
        </a>
    </div>
    <div class="bottom-four-box col-lg-4 col-sm-12">
        <a href="">
            <img class="d-none d-md-block" src="/static/assets/img/Newfour.jpg" alt="">
            <img class="d-md-none" src="/static/assets/img/port-2-img-2.jpg" alt="">
        </a>
    </div>
</div>