<div class="bottom-four row">
    <div class="bottom-four-box col-lg-4 col-sm-12">
        <a href="">
            <img class="d-none d-md-block" src="/static/assets/img/photo-1557236751-0e44a2c402b6 (2).jpg" alt="">
            <img class="d-md-none" src="/static/assets/img/port-2-img-5.jpg" alt="">
        </a>
    </div>
    <div class="bottom-four-box col-lg-4 col-sm-12">
        <a href="">
            <img class="d-none d-md-block" src="/static/assets/img/photo-1546858369-7e535fed0dc4 (1).jpg" alt="">
            <img class="d-md-none" src="/static/assets/img/port-2-img-1.jpg" alt="">
        </a>
    </div>
    <div class="bottom-four-box col-lg-4 col-sm-12">
        <a href="">
            <img class="d-none d-md-block" src="/static/assets/img/photo-1495791185843-c73f2269f669.jpg" alt="">
            <img class="d-md-none" src="/static/assets/img/port-2-img-2.jpg" alt="">
        </a>
    </div>
</div>



<div class="vagonova-box row">
    <div class="vagonova-image col-lg-4 col-sm-12">
    </div>
    <div class="vagonova-image col-lg-4 col-sm-12">
        <img src="/static/assets/img/meb.png" alt="">
    </div>
    <div class="vagonova-image col-lg-4 col-sm-12">
    </div>
</div>