<div class="bottom-four col-md-12">
    <div class="bottom-four-box col-lg-4 col-sm-4 col-xs-6">
        <a href="">
            <img src="/static/assets/img/New-Project.jpg" alt="">
        </a>
    </div>
    <div class="bottom-four-box col-lg-4 col-sm-4 col-xs-6">
        <a href="">
            <img src="/static/assets/img/New-two.jpg" alt="">
        </a>
    </div>
    <div class="bottom-four-box col-lg-4 col-sm-4 col-xs-6">
        <a href="">
            <img src="/static/assets/img/Newfour.jpg" alt="">
        </a>
    </div>
</div>