<div class="three-banner row">
    <div class="banner-box col-md-4 col-sm-4 col-xs-12">
        <div class="banner-box-img">
            <img src="/static/assets/img/icon.svg" alt="">
        </div>
        <h1>BALE</h1>
        <p>Bale eğitimi , çocuklarımızın beden koordinasyonunun gelişmesi , sağlıklı vücut yapısı , dikkat ve algının gelişmesi , estetik tavrın ve müzikal duygunun gelişmesi , en önemlisi öz güvenin yerleşmesinde önemli yer tutar . Bale tekniği , çocuklarımızın matematik zekasını geliştirir.</p>
        <a href="#">Devami Gor</a>
    </div>
    <div class="banner-box col-md-4 col-sm-4 col-xs-12">
        <div class="banner-box-img">
            <img src="/static/assets/img/icon-two.svg" alt="">
        </div>
        <h1>MÜZİK</h1>
        <p>Akademimiz güçlü bir bale ve müzik programıyla çocuklarımızı hayata hazırlamaya ve sanatı sevdirmeye devam ediyor. Erken müzik ve solfej eğitimini , her yaş ve her seviyeye göre özel programlarda   3 - 4 - 5 yaş öğrencilerimiz için erken müzik eğitimi hazırladık.</p>
        <a href="#">Devami Gor</a>
    </div>
    <div class="banner-box col-md-4 col-sm-4 col-xs-12">
        <div class="banner-box-img">
            <img src="/static/assets/img/three-icon.svg" alt="">
        </div>
        <h1>PROGRAMLAR</h1>
        <p>Çocuklar için müzik programı <br>Çocuklar için bale ve dans programı<br> Yetişkinler için müzik programı <br>Yetişkinler için bale ve dans programı<br>Yetişkin klasik bale <br>Fitness ballet barre <br>tango</p>
        <a href="#">Devami Gor</a>
    </div>
</div>