$breakpoint-tablet: 768px;
.footer {
 background-color: black; 
 padding-top: 40px;

  .footer-box  {
    padding: 30px;
    text-align: center;

    @media (max-width:$breakpoint-tablet) {
      padding: 0%;
    }

    h1{
      font-size: 24px;
      line-height: 1.2em;
      color: #fff;
    }
  }

  .address {
    ul {
      padding: 0 115px;
      font-size: 17px;
      color: #fff !important;
      line-height: 2;
      margin-top: 30px;
      font-weight: 200;
    }
  }

  .social-media {
    ul {
      display: flex;
      flex-direction: row;
      justify-content: center;

      li {
         padding: 0 15px;
      }
    }
  }

  .image-footer {
    margin-top: 36px;
    display: flex;
    justify-content: center;

    a{
      display: inline-block;
    }

    li {
      width: 108px;
      padding: 4px;
    }

    ul {
      list-style: none;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      width: 400px;
    }

    img {
      width: 100%;
    }

    a:hover {
      opacity: 0.5;
    }


  }

  .last-news {
    color: #fff;
    margin-top: 32px;
    font-weight: 200;

    span {
      display: block;
      color: #888;
    }
    a {
      text-decoration: none;
      color: #fff;
    }

    li {
      line-height: 2em;
      font-size: 17px;
    }
  }

  .all-rights {
    text-align: center;
    font-size: 13px;
    padding: 20px;
    color: #888;
    border-top: 1px solid #888;
  }

}
