.footer {
 background-color: black; 
 padding-top: 40px;

  .col-lg-4 {
    padding: 30px;
    text-align: center;

    h1{
      font-size: 24px;
      line-height: 1.2em;
      color: #fff;
    }
  }

  .address {
    ul {
      margin-top: 30px;
      font-size: 18px;
      color: #fff !important;
      line-height: 2;
      margin-top: 41px;
    }
  }

  .social-media {
    ul {
      display: flex;
      flex-direction: row;
      justify-content: center;

      li {
         padding: 0 15px;
      }
    }
  }

  .image-footer {
    margin-top: 36px;
    li {
      width: 108px;
      padding: 4px;
    }

    ul {
      list-style: none;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
    }

    img {
      width: 100%;
    }
  }

  .last-news {
    color: #fff;
    margin-top: 32px;

    span {
      display: block;
      color: #888;
    }
    a {
      text-decoration: none;
      color: #fff;
    }

    li {
      line-height: 2em;
      font-size: 18px;
    }
  }

  .all-rights {
    text-align: center;
    font-size: 13px;
    padding: 20px;
    color: #888;
    border-top: 1px solid #888;
  }

}
