$backBoxColor : rgb(190, 9, 0);
$backColor: #000;
$breakpoint-tablet: 768px;
.bottom-four {
  margin-top: 60px !important;
  justify-content: center;
  .bottom-four-box {
    padding: 0 40px;
    position: relative;
    z-index: 2;

    @media (max-width: $breakpoint-tablet) {
      margin-bottom: 20px;
    }

    &::after {
      content: "";
      position: absolute;
      z-index: -1;
      top: -20px;
      right: 20px;
      width: 80%;
      height: 100%;
      background-color: $backBoxColor;
      @media (max-width: 767px) {
        width: auto;
      }
    }

    img {
      width: 100%;
      transition: .3s ease-in-out;
    }
  }
}

.three-banner {
  margin-bottom: 120px !important;
  margin-top: 30px;
  .banner-box {
    text-align: center;
    padding: 10px;
    h1 {
      font-size: 24px;
      text-transform: uppercase;
      color: #fff;
      margin-bottom: 20px;
    }
    p {
      color: #b6b6b6;
    }
    
    a {
      color: #b6b6b6;
      position: relative;
      margin-top: 20px;
      display: inline-block;

      &::before {
        content: '';
        position: absolute;
        width: 35px;
        border: 1px solid $backBoxColor;
        left: -40px;
        top: 10px;
        border-radius: 50%;
      }
      &::after {
        content: '';
        position: absolute;
        width: 35px;
        border: 1px solid $backBoxColor;
        right: -40px;
        top: 10px;
        border-radius: 50%;
      }
    }

    .banner-box-img {
      display: flex;
      justify-content: center;
      margin-bottom: 10px;
    }
  }
}

.img-container {
  margin-bottom: 75px !important;
   .img-box {
    padding: 10px 5px;
    transition: .3s ease-in-out;
   
    &:hover {
      .img-content {
        opacity: 1;
        transition: .3s ease-in-out;
      }
    }

    a {
      display: inline-block;
      position: relative;
      overflow: hidden;
    }
    .img-content {
      position: absolute;
      bottom: 0%;
      left: 50%;
      transform: translate(-50%,-50%);
      width: 100%;
      padding: 0 30px;
      transition: .3s ease-in-out;
      opacity: 0;

      @media (max-width: $breakpoint-tablet) {
        opacity: 1;
      }

      a {
        color: #989898;
      }

      h1 {
        font-size: 18px;
        line-height: 1.25em;
        color: #fff;
      }
    }
    img {
      width: 100%;
      transition: .3s ease-in-out;
      &:hover {
        opacity: 0.5;
        transition: .3s ease-in-out;
        transform: scale(1.12);
      }
    }
  }

}


.img-text-detail {
  margin: 0 auto;
  color: #fff;
  width: 50%;
  text-align: center;
  opacity: 0.8;
  line-height: 31px;
  margin-bottom: 60px;

  @media (max-width: $breakpoint-tablet) {
    padding: 0 24px;
    width: 100%;
  }
  h1 {
    font-family:cursive;
  }

  .text-content {
    margin-top: 30px;
    padding: 0 100px;

    @media (max-width: $breakpoint-tablet) {
      padding: 0;
    }

    p {
      font-size: 19px;
      font-family: fantasy;
    }
    span {
      font-size: 21px;
      font-family: fantasy;
    }
  }

  .title-text::after {
    content: '';
    position: absolute;
    width: 200px;
    border-bottom: 2px solid rgb(190, 9, 0);
    left: 0;
    right: 0;
    margin: 5px auto;
  }
}

.gallery-banner-silder {
  .swiper-slide {
    background-color: black;
    margin: 55px 0;
  }
  .swiper-button-next, 
  .swiper-button-prev {
    outline: none;
    color: $backBoxColor;
  }  
}

.vide-source {
  video {
    width: 100%;
    height: 500px;
    outline: none;
    margin-bottom: 60px;
    object-fit: cover;
  }
}

.vagonova-box {
  margin-top: 100px !important;
  border-left: 1px solid $backBoxColor;
  border-right: 1px solid $backBoxColor;
  @media (max-width: $breakpoint-tablet) {
    border-left: none;
    border-right: none;
  }

  .vagonova-image {
    display: flex;
    padding: 55px;

    &:first-child {
      border-top: 1px solid $backBoxColor;
      border-bottom: 1px solid $backBoxColor;
      background-image: url('/static/assets/img/images.png');
      background-repeat: no-repeat;
      background-size: auto;
      background-position: center;

      @media (max-width: $breakpoint-tablet) {
        background-size: contain;
      }
    }

    &:last-child {
      border-top: 1px solid $backBoxColor;
      border-bottom: 1px solid $backBoxColor;
      background-image: url('/static/assets/img/vaganova.jpg');
      background-repeat: no-repeat;
      background-position: center;
      @media (max-width: $breakpoint-tablet) {
        background-size: contain;
      }
    }

    img {
      width: 100%;
    }
  }
}

.schools-content {
  opacity: 0.8;
  margin-bottom: 60px !important;

  .schools-img {
    img {
      width: 100%;
    }
  }

  .shcools-text { 
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    margin-top: 40px;

    a {
      border: 2px solid $backBoxColor;
      display: inline-block;
      width: 180px;
      margin: 0 auto;
      padding: 15px;
      color: #fff;
      border-radius: 30px;
      position: relative;
      overflow: hidden;
      transition: .3s ease-in-out;

      &::after {
        content: '';
        position: absolute;
        width: 53px;
        background: $backBoxColor;
        right: 0;
        width: 100%;
        border-radius: 33px;
        height: 100%;
        top: 0;
        border-right: none;
        opacity: 0.5;
        margin-right: -180px;
        z-index: -1;
        transition: .3s ease-in-out;
      }

            
      &:hover::after {
        margin-right: 0;
        transition: .3s ease-in-out;
      }

      &::before {
        content: '';
        position: absolute;
        width: 53px;
        background: $backBoxColor;
        left: 0;
        width: 100%;
        border-radius: 33px;
        height: 100%;
        top: 0;
        border-right: none;
        opacity: 0.5;
        margin-left: -180px;
        z-index: -1;
        transition: .3s ease-in-out;
      }
      
      &:hover::before {
        margin-left: 0;
        transition: .3s ease-in-out;
      }

      
    }

    p {
      font-size: 19px;
      font-family: fantasy;
      color: #fff;
      padding: 0 25px;
      line-height: 2.5rem;
      margin-bottom: 40px
    }
  }
  
}