<header>
  <div class="header-box">
    <div class="row">
      <div class="col-md-4 logo-header">
        <a href="#">
          <img  src=""  alt="">
          <span>A Ballet Music Academy</span>
        </a>
      </div>
      <div class="col-md-4">
        <div class="img-header">
          <!-- <img src="/static/assets/img/Screenshot at Dec 29 11-46-43 (1).jpg" alt=""> -->
        </div>
      </div>
      <div class="col-md-4">
        <ul>
          <li>
            <a href="">Ana Sayfa</a>
          </li>
          <li>
              <a href="">Bölümler</a>
          </li>
          <li>
            <a href="">Hakkımızda</a>
          </li>
          <li>
            <a href="">Galeri</a>
          </li>
          <li>
            <a href="">İletişim</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>