<header>
  <div class="header-box">
    <div class="row">
      <div class="col-md-4 bg-dark">
        <a href="#">1</a>
      </div>
      <div class="col-md-8 bg-warning">
        <ul>
          <li>
            <a href="">Ana Sayfa</a>
          </li>
          <li>
              <a href="">Bölümler</a>
          </li>
          <li>
            <a href="">Hakkımızda</a>
          </li>
          <li>
            <a href="">Galeri</a>
          </li>
          <li>
            <a href="">İletişim</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>