{% load static %}
<div class="footer">
  <div class="row">
    <div class="footer-box col-lg-4 col-md-4 col-xs-12">
      <div class="address">
        <h1>İLETİŞİM VE BİZİ TAKİP ET</h1>
      <ul>
        <li>(0212) 265 27 25</li>
        <li>Etiler, Yıldızçiçeği Sokağı No:21, 34337 Beşiktaş/İstanbul</li>
        <li>Pzt - Sat 8.00 - 18.00</li>
      </ul>
      <div class="social-media">
        <ul>
          <li><a href="" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
          <li><a href="https://www.instagram.com/a_ballet_music_academy/" target="_blank"><i class="fab fa-instagram"></i></a></li>
          <li><a href="" target="_blank"><i class="fab fa-linkedin"></i></a></li>
          <li><a href="https://twitter.com/AballetMusic" target="_blank"><i class="fab fa-twitter"></i></a></li>
        </ul>
      </div>
      </div>
    </div>
    <div class="footer-box col-lg-4 col-md-4 col-xs-12">
      <h1>İNSTAGRAM</h1>
      
      <div class="image-footer">
        <ul>
          <li><a href=""><img src="{% static 'assets/img/footertest.jpg' %}" alt=""></a></li>
          <li><a href=""><img src="{% static 'assets/img/image-one.jpg' %}" alt=""></a></li>
          <li><a href=""><img src="{% static 'assets/img/image-three.jpg' %}" alt=""></a></li>
          <li><a href=""><img src="{% static 'assets/img/image-five.jpg' %}" alt=""></a></li>
          <li><a href=""><img src="{% static 'assets/img/port-2-img-5.jpg' %}" alt=""></a></li>
          <li><a href=""><img src="{% static 'assets/img/ballet3.jpg' %}" alt=""></a></li>
        </ul>
      </div>
    </div>
    <div class="footer-box col-lg-4 col-md-4 col-xs-12">
      <h1>SON HABERLER</h1>
      <ul class="last-news">
        <li>
          <a href="">Büyüleyici beden dili</a>
          <span>14. 01. 2019.</span>
        </li>
        <li>
            <a href="">Bugün aynı olabilir</a>
            <span>14. 01. 2019.</span>
        </li>
        <li>
            <a href="">Ritim, zihin ve ayak sesleri</a>
            <span>14. 01. 2019.</span>
        </li>
      </ul>
    </div>
    <div class="col-lg-12 all-rights">
      <p>Tüm hakları saklıdır © A Ballet Music Academy</p>
    </div>
  </div>

  <div class="up-scroll js-back-to-top">
   
  </div>
</div>