<div class="footer">
  <div class="row">
    <div class="col-lg-4 col-md-4 col-xs-12">
      <div class="address">
        <h1>İLETİŞİM VE BİZİ TAKİP ET</h1>
      <ul>
        <li>1-677-124-44227</li>
        <li>184 Ana Collins Caddesi, Şikago</li>
        <li>Pzt - Sat 8.00 - 18.00</li>
      </ul>
      <div class="social-media">
        <ul>
          <li><i class="fab fa-facebook-f"></i></li>
          <li><i class="fab fa-instagram"></i></li>
          <li><i class="fab fa-linkedin"></i></li>
          <li><i class="fab fa-youtube"></i></li>
        </ul>
      </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-4 col-xs-12">
      <h1>INSTAGRAM</h1>
      <div class="image-footer">
        <ul>
          <li><img src="static/assets/img/footertest.jpg" alt=""></li>
          <li><img src="" alt=""></li>
          <li><img src="" alt=""></li>
          <li><img src="" alt=""></li>
          <li></li>
        </ul>
      </div>
    </div>
    <div class="col-lg-4 col-md-4 col-xs-12">
      <h1>SON HABERLER</h1>
    </div>
  </div>
</div>